{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <img src="/static/img/tech.jpg" class="img-fluid" alt="Responsive image">
        <div class="content-section">
            <div class="article-title"><h1>Start Learning Today :)</h1></div>
            <div class="article-content">
                <p>Welcome to the LazyLearner, here you can learn about emerging IT Technologies, various
                    programming and scripting languages, databases and other popular libraries for application
                    development.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidepanel %}
    <div class="content-section">
            <h3>Recent Posts</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="nav-link" href="#">Link 1</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-link" href="#">Link 2</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-link" href="#">Link 3</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-link" href="#">Link 4</a></li>
              </ul>
            </p>
          </div>
{% endblock %}